<template>
  <div class="editor col-6">
      <button type='button' @click="sendText({textToConvert, inputFormat, outPutFormat})">Compile</button>
      <input v-model="inputFormat"/>
      <input v-model="outPutFormat"/>
      <textarea class="textEditor" placeholder="Your text here..." v-model="textToConvert"></textarea>
  </div>
</template>

<script>
import { serverBus } from '../main';
import compilerService from "../services/compiler.service.js";

export default {
  name: "TextEditor",
  data: function() {
    return {
      textToConvert: '',
      inputFormat: 'markdown',
      outPutFormat: 'html'
    };
  },
  methods: {
    /**
     * Send text to server for compiling
     * @param {JSON} dataToConvert JSON object with content type, expected output type and content
    ```
    dataToConvert: {
        textToConvert: {string}, // content to convert
        inputFormat: {string}, // content type
        outPutFormat: {string} // expected output type
    }
    ```
     */
    sendText(dataToConvert) {
      compilerService.composeDocument(dataToConvert).then((response) => {
        response.blob().then((file) => {
          serverBus.$emit('fileToShow', file); // send file to scope
        });
      });
    }
  }
};
</script>

<style>
.textEditor {
  width: 100%;
  height: 75vh;
  resize: horizontal;
}
</style>