<template>
  <div class="viewer col-6">
      <a :href='file' download>Download</a>
      <span>&nbsp</span>
      <a target="_blank" rel="noopener noreferrer" :href='file'>Open in new tab</a>
      <iframe class="iframeViewer" :src='file'></iframe><br>
  </div>
</template>

<script>
import { serverBus } from "../main";

function onStartedDownload(id) {
  console.log(`Started downloading: ${id}`);
}

function onFailed(error) {
  console.log(`Download failed: ${error}`);
}
export default {
  name: "Viewer",
  data: function() {
    return {
      file: null
    };
  },
  created() {
    // Using the service bus to retrive converted document
    serverBus.$on("fileToShow", file => {
      this.file = URL.createObjectURL(file);
    });
  },
  methods: {
    downloadFile(file) {
      window.download = file;
    }
  }
};
</script>

<style>
.iframeViewer {
  width: 100%;
  height: 75vh;
  resize: horizontal;
  border-style: solid;
  border-width: thin;
  border-color: #bebebe;
}
</style>