<template>
  <div class="home">
    <div class="row">
      <TextEditor/>
      <Viewer/>
    </div>
  </div>
</template>

<script>
// @ is an alias to /src
import TextEditor from "@/components/TextEditor.vue";
import Viewer from "@/components/Viewer.vue";

export default {
  name: "home",
  components: {
    TextEditor,
    Viewer
  }
};
</script>

<style>
</style>

